.interactivechart{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    background-color: #ddd;
}

/* .btn {
 margin-top: 20px;
 margin-left: 60px;
} */

.top{ 
  background-color: #ddd;
  
}
.dataCard {
    background-color: #efefef;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
  }
  
  .lineCard {
    width: 92%;
    height: 20rem;
  }
  .barCard{
    width:50%;
    height: 20rem;
  }
  .doughnutCard {
    width: 40%;
    height: 20rem;
  }